/game/**/*.rpyc
/renpy/**/*.rpyc
/game/**/*.rpyb
/renpy/**/*.rpyb
/game/**/*.rpymc
/renpy/**/*.rpymc
/game/**/*.pyc
/renpy/**/*.pyc
/game/**/*.pyo
/renpy/**/*.pyo

log.txt
errors.txt
traceback.txt
save_dump.txt
image_cache.txt
project.json

tmp

/game/**/*.rpy~
/game/**/*.rpy#
/game/**/cache
/game/**/saves
/game/**/*.bak
/game/**/*.psd
/**/.DS_Store

.vscode/
